.image2{
display:none;
}

.train{
display:none;
}

.j{
display:none;
}

.doubleclick{
display:none;
}

.Ntrain{
    display:none;
}

.Ntrain2{
    display:none;
}

.TimesSquare{
    display:none;
}

.TimesSquare2{
    display:none;
}

.ndave{
display:none;
}

.desination{
    display:none;
}

